.container {
  margin: 62px 0 94px;
  text-align: center;
  width: 100%;
  
  
  .horizontal {
    height: 1px;
    top: calc(50% - 1px/2 - 79px);
    border: 1px solid #585858;
    box-sizing: border-box;
  }
  
  .navBar {
    display: flex;
    justify-content: space-around;
    margin: 33px 308px 32px 307px;
    font-family: "Abel";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #585858;
  }
     
  .share {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
     
    .item {
      display: flex;
      margin-right: 0;
      align-items: center;
      padding: 31px 0;
  
      .icon {
        width: 30px;
        height: 30px;
      }
  
      .vertical {
        width: 1px;
        height: 85px; 
        margin-left: 90px;
        border: 1px solid #585858;
        box-sizing: border-box;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
      }
    }
  }
}
  
  
.navbarcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 23px 25px 0;
  
  .item {
    font-family: "Abhaya Libre Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
    margin-right: 8px;
    vertical-align: center;
    position: relative;
    top: -12px;
  }
}
