.Detail {
  display: flex;
  padding: 65px 89px 11px 90px;

  .modelBox {
    width: 570px;
    height: 570px;
    margin-right: 60px;
  }

  .modelTextBox {
    display: flex;
    flex-direction: column;
    width: 632px;

    .title {
      display: flex;

      .modelName {
        font-family: "Abhaya Libre Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        color: #000;
        text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        margin-right: 20px;
      }

      .author {
        font-family: "Alata";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        color: #ccc;
      }
    }

    .tagWrapper {
      display: flex;
    
      .tag {
        width: 144px;
        height: 32px;
        background: url("../../public/images/avatarDetail/tag.png") no-repeat;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
      }
    }

    .description {
      font-family: "Abel";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      color: #585858;
      max-width: 629.49px;
    }

    .buyBox {

      .buy {
        display: flex;
        align-items: center;

        .price {
          font-family: "Abhaya Libre Medium";
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
          color: #666;
          text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
          margin-right: 20px;
        }

        .progress {
          width: 230px;
          height: 25px;
          background: #ddd;
          border-radius: 14px;
          position: relative;
          
          .resbar {
            position: absolute;
            width: 120px;
            height: 100%;
            background: #999;
            border-radius: 7px;
            left: 0;
            top: 0;
            position: relative;
            display: flex;
            align-items: center;
          
            .res {
              position: absolute;
              font-family: "Alata"; 
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 14px;
              color: #fff;
            } 
          
            .resSelling {
              right: 0;
              margin-right: 5px;
          
            }
          
            .resSold {
              right: 50%;
              transform: translateX(50%);
            }
          }
        }
      }

      .buyBtn {
        display: inline-block;
        width: 345px;
        height: 56px;
        background: url("../../public/images/avatarDetail/buyNow.png") no-repeat;
        border-radius: 16px;
        margin-top: 15px;
      }
    }
  }

  .horizonLine {
    width: 100%;
    height: 0;
    border: 1px solid #979797;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.horizonLine {
  width: 100%;
  height: 0;
  border: 1px solid #979797;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 90px;
}

.imgDetail {
  display: flex;
  padding: 10px 180px 0;

}

.ownership {
  width: 809px;
  height: 204px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    text-align: center;
    font-family: "Abhaya Libre Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #666;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  }

  .profiles {
    text-align: center;
    margin-top: 28px;
    margin-bottom: 41px;

    .profile {
      width: 80px;
      height: 80px;
    }
  }

  .more {
    text-align: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
  }
}

.instagramCardGroup {
  display: flex;
  padding-left: 120px;
  padding-right: 120px;
}

.homePageCards {
  display: flex;
  padding: 0 90px;
}
