.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 94px;
    margin-top:20px;

  .item {
    font-family: "Abhaya Libre Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #303030;
    margin-right: 8px;
  }

}
