.card {
  width: 280px;
  height: 360px;
  left: 0%;
  right: -.36%;
  top: 0%;
  bottom: 0%;
  background: rgba(249, 249, 249, .5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  border-radius: 20px;
  padding: 19px 18.88px 27px 17px;
  margin-right: 30px;
  margin-bottom: 60px;

  .imgWrapper {
    background-image: url("../../public/images/homePage/homePageCard/background.png");
    // display: flex;
    // justify-content: center;
    // align-items: center;
    height: 250px;

    .img {
      display: inline-block;
    }
  }


  .src {
    width: 244px;
    height: 250px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 11px;
  }

  .price {
    display: flex;
    justify-content: space-between;

    .progress {
      width: 120px;
      height: 14px;
      background: #ddd;
      border-radius: 7px;
      position: relative;

      .resbar {
        position: absolute;
        width: 120px;
        height: 14px;
        background: #999;
        border-radius: 7px;
        left: 0;
        top: 0;
        position: relative;

        .res {
          position: absolute;
          font-family: "Alata"; 
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 14px;
          color: #fff;
        } 

        .resSelling {
          right: 0;
          margin-right: 5px;

        }

        .resSold {
          right: 50%;
          transform: translateX(50%);
        }
      }
    }
  }
}
