.container {
  width: 100%;


  .logoContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 96px;

    .logoLeft {
      position: absolute;
      width: 83px;
      height: 126px;
      left: 96px;
    }

    .logoRight {
      position: absolute;
      width: 466px;
      height: 199px;
      right: 96px;
    }
  }

  .bannerContainer {
    margin-top: -100px;
    padding: 0 96px;

    .banner {
      width: 1216px;
      height: 469px;
    }

  }

  .starContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    padding: 0 96px;

    .star {
      display: inline-block;
      width: 414.5px;
      height: 99px;
    }
  }



  .content {
    text-align: center;
    padding: 0 96px;

    .title1 {
      margin-top: 100px;
      display: inline-block;
    }

    .paragraph {
      font-family: "Abel";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      color: #585858;
    }

    .paragraph1 {
      margin-top: 60px;
      margin-bottom: 61px;
    }

    .paragraph2 {
      margin-bottom: 58px;
    }

    .title2 {
      margin-top: 113px;
    }

    .paragraph4 {
      margin-top: 80px;
    }

    .title3 {
      margin-top: 24px;
      margin-bottom: 100px;
    }


  }


}


.footerContainer {
  margin: 62px 0 94px;
  text-align: center;
  width: 100%;


  .horizontal {
    height: 1px;
    top: calc(50% - 1px/2 - 79px);
    border: 1px solid #585858;
    box-sizing: border-box;
  }

  .navBar {
    display: flex;
    justify-content: space-around;
    margin: 33px 308px 32px 307px;
    font-family: "Abel";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #585858;
  }
   
  .share {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
   
    .item {
      display: flex;
      margin-right: 0;
      align-items: center;
      padding: 31px 0;

      .icon {
        width: 30px;
        height: 30px;
      }

      .vertical {
        width: 1px;
        height: 85px; 
        margin-left: 90px;
        border: 1px solid #585858;
        box-sizing: border-box;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
      }
    }
  }
}


