.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;

    .box {
        padding: 101px 78px;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logoImg {
            width: 135px;
            height: 41px;
        }

        .input {
            width: 440px;
            height: 91px;
            font-family: 'Abel';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 35px;
            color: #5E5E5E;
            border-radius: 5px;
            padding: 28px 20px;
        }

        .nameInput{
            margin-top: 36px;
        }

        // .emailInput {
        //     margin-top: 36px;
        // }

        .passwordInput {
            margin: 24px 0;
        }


        .btn {
            width: 441px;
            height: 91px;
            background: #2F2F2F;
            border: 1px solid #000000;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;

            font-family: 'Abhaya Libre SemiBold';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 35px;
            color: #FFFFFF;
        }

        .signUpBtn {
            margin-top: 24px;
        }

        .privacy {
            margin-top: 36px;
            margin-bottom: 12px;

            .privacyText {
                font-family: 'Abel';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 35px;
                color: #000000;
                text-decoration: underline;
                text-underline-offset: 3px;
            }
        }

        .more {
            .moreWarning{
                font-family: 'Abel';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 35px;
                color: #5E5E5E;
                margin-right: 25px;
            }

            .moreText {
                font-family: 'Abel';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 35px;
                color: #000000;
                text-decoration: underline;
                text-underline-offset: 3px;
            }
        }

    }
}